In [1]:
import pandas as pd

In [6]:
data = {
    'a' : [1],
    'b' : [1]
}

df = pd.DataFrame(data)

In [11]:
data = {
    'a' : 1,
    'b' : 1
}

df = pd.DataFrame(data, index=[0])

In [12]:
df

   a  b
0  1  1