In [42]:
import pandas as pd

In [46]:
data = {'a': [23], 'b': [10]}
df = pd.DataFrame(data)

In [47]:
df

    a   b
0  23  10

In [55]:
df['name'] = ['BLAH']

In [57]:
df = df[['name'] + [x for x in df.columns if x != 'name']]

In [58]:
df

   name   a   b
0  BLAH  23  10

In [10]:
import torch
import torch.nn as nn
import numpy as np

In [11]:
x = torch.randn(1000, 8, 32)

In [12]:
encoder = nn.Linear(32, 1)

In [14]:
encoder(x).shape

torch.Size([1000, 8, 1])

In [16]:
import pandas as pd

In [18]:
df = pd.read_csv('~/Documents/lfmc/best_metrics_all_runs.csv')

In [28]:
df[df.run_name.isin(['ex_dropout_0.2_nh_24', 'ex_aqua_dropout_0.2_nh_24'])].T

                                         2                          19
run_name               ex_dropout_0.2_nh_24  ex_aqua_dropout_0.2_nh_24
epoch                                   100                        500
qual_obs_rmse                      34.61498                  28.453472
qual_obs_corrcoef                  0.656724                    0.74494
qual_obs_coefdet                   0.337992                   0.551028
qual_site_rmse                    18.203817                  24.294128
qual_site_corrcoef                  0.68503                   0.634576
qual_site_coefdet                 -0.217856                   -0.19936
qual_anomaly_rmse                 29.629998                  22.030812
qual_anomaly_corrcoef              0.651808                   0.756974
qual_anomaly_coefdet              -0.830127                   0.271052
poor_obs_rmse                     41.573385                  28.402273
poor_obs_corrcoef                  0.338217                   0.732852
poor_obs_coefdet                   0.023214                   0.529602
poor_site_rmse                    33.077021                  24.306325
poor_site_corrcoef                 0.247298                   0.650633
poor_site_coefdet                 -1.577769                  -0.127277
poor_anomaly_rmse                 29.121887                  22.963852
poor_anomaly_corrcoef              0.425331                   0.722302
poor_anomaly_coefdet              -1.969852                   0.225101