In [42]:
import pandas as pd

In [46]:
data = {'a': [23], 'b': [10]}
df = pd.DataFrame(data)

In [47]:
df

    a   b
0  23  10

In [55]:
df['name'] = ['BLAH']

In [57]:
df = df[['name'] + [x for x in df.columns if x != 'name']]

In [58]:
df

   name   a   b
0  BLAH  23  10